<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdx.mapper.BoardMapper">
<select id="selectAsList" resultType="Board">
    select  * from board;
</select>
    <insert id="insertList" >
        insert  into  board_copy  (board_name,address) values
        <foreach collection="list" index="index" item="l" separator=","  >
            (
            #{l.boardName}, #{l.address}
            )
        </foreach>

    </insert>
</mapper>
