<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdx.mapper.StockMapper">
    <resultMap id="bs" type="Bs">
        <result property="name" column="name"></result>
        <result property="price" column="price"></result>
    </resultMap>
    <select id="getList" resultType="com.wdx.entity.Stock">
        select * from stock;
    </select>
    <select id="getId" resultType="map">
        select  a.price,a.code from stock a where a.sid=#{id};
    </select>
    <select id="getById" resultType="Map">
        select  a.price,a.code from stock a where a.sid=#{id};
    </select>
    <select id="get" resultMap="bs">
        select s.price,s.name from stock s join board b on s.board_type=b.board_name where s.sid=#{sid};
    </select>
    <update id="updateStock">
        update stock a set a.price=#{price}  where a.sid=#{sid}
    </update>
    <insert id="saveStock" parameterType="stock">
        insert into stock (name, price, board_type, time, code,  start_price) values
                          (#{name},#{price},#{boardType},#{time},#{code},#{startPrice})
    </insert>
</mapper>
